<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.plugins.pump.ypsopump">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity android:name=".dialog.YpsoPumpBLEConfigActivity">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.plugins.pump.ypsopump.config.YpsoPumpBLEConfigActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".dialog.YpsoPumpHistoryActivity" />


        <!--        <activity android:name=".dialog.MedtronicHistoryActivity" />-->

        <!--        <uses-library android:name="org.apache.http.legacy" android:required="false"/>-->
    </application>

</manifest>
