<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.plugins.pump.tandem">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <!--        <activity android:name=".dialog.YpsoPumpBLEConfigActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="info.nightscout.androidaps.plugins.pump.tslim.config.YpsoPumpBLEConfigActivity" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <activity android:name=".dialog.PumpHistoryActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="info.nightscout.androidaps.plugins.pump.tslim.config.YpsoPumpBLEConfigActivity" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->


        <!--        <activity android:name="info.nightscout.androidaps.plugins.pump.common.ui.PumpBLEConfigActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="info.nightscout.androidaps.plugins.pump.tslim.config.YpsoPumpBLEConfigActivity2" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

<!--        <activity android:name=".dialog.YpsoPumpHistoryActivity" />-->


        <activity android:name="info.nightscout.androidaps.plugins.pump.common.ui.PumpHistoryActivity" />


        <!--        <uses-library android:name="org.apache.http.legacy" android:required="false"/>-->
    </application>

</manifest>
